{% extends 'base.html.twig' %}

{% block title %}Coordoonnées{% endblock %}

{% block bgColor %} bg-soft-grey {% endblock %}

{% block content %}

    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12">
                <h3 class="h3-25bold mb-0">
                    Dossier d'agrément - {{ dossierAgrement.libelle }}
                </h3>
                <h4 class="h4-sousTitre">{{ dossierAgrement.type }}</h4>

                <div class="row mt-4">
                    <div class="col-6">
                        <div class="sm-card-recap">
                            <div class="d-flex align-items-top">
                                <div class="ico-card-recap">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path class="blk" fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.47727 0 0 4.47727 0 10C0 15.5227 4.47727 20 10 20C15.5227 20 20 15.5227 20 10C20 4.47727 15.5227 0 10 0ZM14.3345 8.30909C14.4144 8.21786 14.4751 8.11158 14.5133 7.99652C14.5514 7.88145 14.5661 7.75992 14.5566 7.63908C14.5471 7.51823 14.5135 7.40051 14.4578 7.29284C14.4021 7.18518 14.3254 7.08973 14.2323 7.01213C14.1392 6.93453 14.0315 6.87633 13.9155 6.84097C13.7996 6.8056 13.6777 6.79378 13.5572 6.80621C13.4366 6.81863 13.3197 6.85504 13.2134 6.9133C13.1071 6.97156 13.0135 7.0505 12.9382 7.14545L9.02909 11.8355L7.00636 9.81182C6.83491 9.64622 6.60527 9.55459 6.36691 9.55666C6.12855 9.55873 5.90054 9.65434 5.73198 9.82289C5.56343 9.99145 5.46782 10.2195 5.46575 10.4578C5.46368 10.6962 5.55531 10.9258 5.72091 11.0973L8.44818 13.8245C8.53751 13.9138 8.64445 13.9835 8.7622 14.0291C8.87994 14.0748 9.00591 14.0954 9.13206 14.0897C9.25822 14.084 9.3818 14.052 9.49492 13.9959C9.60804 13.9397 9.70823 13.8606 9.78909 13.7636L14.3345 8.30909Z" fill="#699BF7"/>
                                    </svg>

                                </div>
                                <div class="ms-3">
                                    <h3 class="intro-18bold mb-0 "><a href="{{ path('app_dossier_coordonnees', {'id': dossierAgrement.id}) }}" class="linkText"> Coordonnées</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="sm-card-recap">
                            <div class="d-flex align-items-top">
                                <div class="ico-card-recap">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_29_30)">
                                            <path d="M6.66669 10.4165L9.16669 12.9165L13.3334 7.9165" stroke="#8D8D8D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M10 18.3332C14.6024 18.3332 18.3334 14.6022 18.3334 9.99984C18.3334 5.39746 14.6024 1.6665 10 1.6665C5.39765 1.6665 1.66669 5.39746 1.66669 9.99984C1.66669 14.6022 5.39765 18.3332 10 18.3332Z" stroke="#8D8D8D" stroke-width="2"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_29_30">
                                                <rect width="20" height="20" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>

                                </div>
                                <div class="ms-3">
                                    <h3 class="intro-18bold mb-0 grey-color">Défis</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 mt-3">
                        <div class="sm-card-recap">
                            <div class="d-flex align-items-top">
                                <div class="ico-card-recap">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_29_30)">
                                            <path d="M6.66669 10.4165L9.16669 12.9165L13.3334 7.9165" stroke="#8D8D8D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M10 18.3332C14.6024 18.3332 18.3334 14.6022 18.3334 9.99984C18.3334 5.39746 14.6024 1.6665 10 1.6665C5.39765 1.6665 1.66669 5.39746 1.66669 9.99984C1.66669 14.6022 5.39765 18.3332 10 18.3332Z" stroke="#8D8D8D" stroke-width="2"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_29_30">
                                                <rect width="20" height="20" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>

                                </div>
                                <div class="ms-3">
                                    <h3 class="intro-18bold mb-0 grey-color">Charte/réseau</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-12">
                <h3 class="h2-30 green-color-eusko mb-2">
                    L'entreprise
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row(form.denominationCommerciale) }}
            </div>
            <div class="col-6">
                {{ form_row(form.formeJuridique) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">

                <div class="mb-3">
                    <label for="form_city" class="form-label">Adresse</label>
                    <select id="form_city" name="adresse" class="form-control js-city-ajax" >
                        {% if dossierAgrement.adressePrincipale != '' %}
                            {% set adresse = dossierAgrement.adressePrincipale | json_decode  %}
                            <option value="{{ dossierAgrement.adressePrincipale }}" selected="selected">{{ adresse.text }}</option>
                        {% endif %}
                    </select>
                    <input type="hidden" name="adressePrincipale" id="adressePrincipale" value="{{ dossierAgrement.adressePrincipale }}">

                </div>
            </div>

            <div class="col-6">
                {{ form_row(form.emailPrincipal) }}

            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3 class="h2-30 green-color-eusko mb-2">
                    Le / la dirigeant·e
                </h3>
            </div>
            <div class="col-6">
                {{ form_row(form.nomDirigeant) }}
            </div>
            <div class="col-6">
                {{ form_row(form.prenomDirigeant) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row(form.emailDirigeant) }}
            </div>
            <div class="col-6">
                {{ form_row(form.telephoneDirigeant) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row(form.fonctionDirigeant) }}
            </div>
            <div class="col-6 mt-4">
                {{ form_row(form.interlocuteurDirigeant) }}
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <h3 class="h2-30 green-color-eusko mb-2">
                        Autres contacts d'euskal moneta
                    </h3>
                    <div>
                        <a href="#" class="btn btn-outline-primary contact-btn" data-bs-toggle="modal" data-bs-target="#contactModal"> Ajouter un contact </a>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">

                    {# Affiche les contacts #}
                    <div id="contactContainer">
                        {% for contact in dossierAgrement.contacts %}
                            <div class="card-relation contactCard{{ contact.id }}">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <div class="d-flex">
                                            <h3 class="h4-20bold">{{ contact.prenom }} {{ contact.nom }}</h3>
                                            <div class="ms-2 paragraph-16reg">
                                                - {{ contact.fonction }}
                                            </div>
                                        </div>
                                        <div class="paragraph-16reg">
                                            {{ contact.email }}
                                        </div>
                                        <div class="paragraph-16reg">
                                            {{ contact.telephone }}
                                        </div>
                                        <div class="paragraph-16reg">
                                            {% if contact.interlocuteur %}
                                                <img src="{{ asset('images/ico-interlocuteur.png') }}" width="30">
                                            {% endif %}
                                        </div>

                                    </div>

                                    <div>
                                        <a  id="{{ contact.id }}" class="contact-edit linkText"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    {# Stocke les inputs #}
                    <div id="contactInputsHidden">
                        {% for contact in dossierAgrement.contacts %}
                            <input type="hidden" name="dataContacts[contact-{{ contact.id }}]" id="contact-{{ contact.id }}" value="{{ contact.getJsonFormat() }}">
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>


        <div class="row mt-5">
        </div>


        <div class="row mt-5">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <h3 class="h2-30 green-color-eusko mb-2">
                        Adresses d'activité
                    </h3>
                    <div>
                        <a href="#" class="btn btn-outline-primary contact-btn" data-bs-toggle="modal" data-bs-target="#adresseModal"> Ajouter une adresse </a>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">

                    {# Affiche les contacts #}
                    <div id="adresseContainer">
                        {% for adresse in dossierAgrement.adresseActivites %}
                            <div class="card-relation adresseCard{{ adresse.id }}">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <div class="d-flex">
                                            <h3 class="h4-20bold">{{ adresse.nom }}</h3>
                                            <div class="ms-2 paragraph-16reg">
                                                -
                                            </div>
                                        </div>
                                        <div class="paragraph-16reg">
                                            {% set adresseObj = adresse.adresse | json_decode  %}
                                            {{ adresseObj.text }}
                                        </div>
                                        <div class="paragraph-16reg">
                                            {{ adresse.email }}
                                        </div>
                                        <div class="paragraph-16reg">
                                            {{ adresse.telephone }}
                                        </div>
                                    </div>

                                    <div>
                                        <a  id="{{ adresse.id }}" class="adresse-edit linkText"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    {# Stocke les inputs #}
                    <div id="adresseInputsHidden">
                        {% for adresse in dossierAgrement.adresseActivites %}
                             <input type="hidden" name="dataAdresses[adresse-{{ adresse.id }}]" id="adresse-{{ adresse.id }}" value="{{ adresse.getJsonFormat() }}">
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>


        <div class="spacer-end-of-block"></div>
        {{ form_rest(form) }}

    </div>

    <!-- Modal Contact -->
    {% include 'form/contactModalForm.html.twig' %}

    <!-- Modal Adresse -->
    {% include 'form/adresseModalForm.html.twig' %}



{% endblock %}

    {% block javascriptImport %}
        <script src="{{ asset('js/contactModalScript.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/adresseModalScript.js') }}" type="text/javascript"></script>

    {% endblock %}

    {% block javascript %}


    $('.js-city-ajax').on('select2:select', function (e) {
        var data = e.params.data;
        $(this).next().next().val(JSON.stringify(data));

    });

    $('#form_city').select2({
        ajax: {
            url: "https://api-adresse.data.gouv.fr/search/",
            delay: 250,
            dataType: 'json',
            data: function (term) {
                var query = {
                    q: term.term
                }
                return query;
            },
            processResults: function (data) {
                return {
                    results: $.map(data.features, function (item) {
                        return {
                            text: item.properties.label,
                            /*text: item.properties.housenumber + ' ' + item.properties.street + ', ' + item.properties.city + ' (' + item.properties.postcode + ')',*/
                            id: item.properties.city,
                            lng: item.geometry.coordinates[0],
                            lat: item.geometry.coordinates[1],
                            address: item.properties.housenumber + ' ' + item.properties.street,
                            postcode: item.properties.postcode
                        }
                    })
                };
            }
        },
        minimumInputLength: 1,
        placeholder: 'Saisir une adresse',
    });


    {% endblock javascript %}