{% extends 'base.html.twig' %}

{% block title %}Défis{% endblock %}

{% block bgColor %} bg-soft-grey {% endblock %}

{% block content %}

    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-12">
                    <h3 class="h3-25bold mb-0">
                        Dossier d'agrément - {{ dossierAgrement.libelle }}
                    </h3>
                    <h4 class="h4-sousTitre">{{ dossierAgrement.type }}</h4>

                    {% include 'dossier/menuDossier.html.twig' with {'etape': 'defis'} %}

                </div>
            </div>

            <div class="row spacer-vertical-column">
                <div class="col-12">
                    <h1 class="H1-header-50 green-color-eusko ">
                        Défis
                    </h1>
                    <p class="mb-5 intro-18reg">Deux défis seront à réaliser, l’un en cours d’année, l’autre l’année suivante.<br/>
                        Le/la chargé(e) de développement est là pour vous accompagner dans leur mise en œuvre.</p>
                    <h3 class="h2-30 green-color-eusko mb-2">
                        1. Relocalisation de l'économie/environement
                    </h3>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <h4 class="h4-20bold">Vendre ou utiliser au moins trois produits locaux dans son activité</h4>
                </div>

                <div class="col-12" id="defiProduitContainer">
                    {% for defi in dossierAgrement.defis %}
                        {% if defi.type == 'produit' %}
                            <div class="d-flex mt-3 align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control" name="produits[{{ defi.id }}]" value="{{ defi.valeur }}"/>
                                </div>
                                <div class="form-check ms-4 me-2">
                                    <input class="form-check-input" type="radio" name="produits-etat{{ defi.id }}" value="1" {% if defi.etat %} checked {% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Déjà réalisé
                                    </label>
                                </div>
                                <div class="form-check ms-4 me-2" style="">
                                    <input class="form-check-input" type="radio" name="produits-etat{{ defi.id }}" value="0" {% if not defi.etat %} checked {% endif %} >
                                    <label class="form-check-label" for="flexCheckDefault">
                                        A réaliser
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-12 mt-4">
                    <a class="btn btn-outline-primary" id="defiProduitAjoutBtn"> Ajouter un produit</a>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-12">
                    <h4 class="h4-sousTitre">Si cela n’est pas possible dans son activité, alors ...</h4>
                    <h4 class="h4-20bold">Faire travailler au moins trois professionnels du réseau Eusko</h4>
                </div>

                <div class="col-12" id="defiProfessionnelContainer">

                    {% for defi in dossierAgrement.defis %}
                        {% if defi.type == 'professionnel' %}
                            <div class="d-flex mt-3 align-items-center">
                                <div class="flex-grow-1">
                                    <div class="d-flex flex-grow-1">
                                        <select name="professionnels[{{ defi.id }}]" class="form-control pro-select form-adresse" style="">
                                            {% if defi.valeur != '' %}
                                                {% set pro = defi.valeur | json_decode  %}
                                                <option value="{{ defi.valeur }}">{{ pro.text }}</option>
                                            {% endif %}
                                        </select>

                                        <input type="button" class="btn btn-outline-dark delSelect" value="X" />


                                    </div>
                                </div>
                                <div class="form-check ms-4 me-2">
                                    <input class="form-check-input" type="radio" name="professionnels-etat{{ defi.id }}" value="1" {% if defi.etat %} checked {% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Déjà réalisé
                                    </label>
                                </div>
                                <div class="form-check ms-4 me-2" style="">
                                    <input class="form-check-input" type="radio" name="professionnels-etat{{ defi.id }}" value="0" {% if not defi.etat %} checked {% endif %} >
                                    <label class="form-check-label" for="flexCheckDefault">
                                        A réaliser
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}



                </div>

                <div class="col-12 mt-4">
                    <a class="btn btn-outline-primary" id="defiProfessionnelAjoutBtn"> Ajouter un professionnel</a>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-12">
                    <h4 class="h4-sousTitre">Si cela n’est pas possible dans son activité, alors ...</h4>
                    <h4 class="h4-20bold">Réutiliser à titre personnel</h4>
                    {% for defi in dossierAgrement.defis %}
                        {% if defi.type == 'reutiliser' %}
                            <div class="d-flex mt-3 align-items-center">
                                <div class="flex-grow-1">
                                    <div class="mb-3">
                                        <label for="reutiliser" class="form-label">Note obligatoire</label>
                                        <textarea class="form-control" id="reutiliser" name="reutiliser[{{ defi.id }}]" rows="4">{{ defi.valeur }}</textarea>
                                    </div>
                                </div>
                                <div class="form-check ms-4 me-2">
                                    <input class="form-check-input" type="radio" name="reutiliser-etat{{ defi.id }}" value="1" {% if defi.etat %} checked {% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Déjà réalisé
                                    </label>
                                </div>
                                <div class="form-check ms-4 me-2" style="">
                                    <input class="form-check-input" type="radio" name="reutiliser-etat{{ defi.id }}" value="0" {% if not defi.etat %} checked {% endif %} >
                                    <label class="form-check-label" for="flexCheckDefault">
                                        A réaliser
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

            </div>

            <div class="row mt-5">
                <div class="col-12">
                    <h3 class="h2-30 green-color-eusko mb-2">
                        2. Promotion de l'usage public de l'euskara
                    </h3>

                </div>
            </div>


            <div class="row mt-2">
                <div class="col-12">

                    {% for defi in dossierAgrement.defis %}
                        {% if defi.type == 'promotionEuskara' %}
                            <div class="d-flex mt-3 align-items-center">
                                <div class="flex-grow-1">
                                    <h4 class="h4-20bold">Affichage en euskara (signalétique, outils de communication...)</h4>
                                    <div class="form-check ms-4 me-2">
                                        <input class="form-check-input" type="radio" name="promotionEuskara[{{ defi.id }}]" value="En autonomie" {% if defi.valeur == 'En autonomie' %} checked {% endif %}>
                                        <label class="form-check-label form-label">
                                            En autonomie
                                        </label>
                                    </div>
                                    <div class="form-check ms-4 me-2 mt-2">
                                        <input class="form-check-input" type="radio" name="promotionEuskara[{{ defi.id }}]" value="Accompagnement par Bai Euskarari" {% if defi.valeur == 'Accompagnement par Bai Euskarari' %} checked {% endif %}>
                                        <label class="form-check-label form-label">
                                            Accompagnement par Bai Euskarari
                                        </label>
                                    </div>
                                    <div class="form-check ms-4 me-2 mt-2">
                                        <input class="form-check-input" type="radio" name="promotionEuskara[{{ defi.id }}]" value="Accompagnement par Euskal Moneta en partenariat avec l’OPLB" {% if defi.valeur == 'Accompagnement par Euskal Moneta en partenariat avec l’OPLB' %} checked {% endif %}>
                                        <label class="form-check-label form-label">
                                            Accompagnement par Euskal Moneta en partenariat avec l’OPLB
                                        </label>
                                    </div>
                                </div>
                                <div class="d-none">
                                    <div class="form-check ms-4 me-2">
                                        <input class="form-check-input" type="radio" name="promotionEuskara-etat{{ defi.id }}" value="1" {% if defi.etat %} checked {% endif %}>
                                        <label class="form-check-label">
                                            Déjà réalisé
                                        </label>
                                    </div>
                                    <div class="form-check ms-4 me-2" style="">
                                        <input class="form-check-input" type="radio" name="promotionEuskara-etat{{ defi.id }}" value="0" {% if defi.etat is same as false %} checked {% endif %} >
                                        <label class="form-check-label">
                                            A réaliser
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

            </div>

            <div class="row mt-5">
                <div class="col-12">

                    {% for defi in dossierAgrement.defis %}
                        {% if defi.type == 'accueilEuskara' %}
                            <div class="d-flex mt-3 align-items-center">

                                <div class="flex-grow-1">
                                    <h4 class="h4-20bold">Accueil possible en euskara</h4>
                                    <div class="form-check ms-4 me-2">
                                        <input class="form-check-input" type="radio" name="accueilEuskara[{{ defi.id }}]" value="Non renseigné" {% if defi.valeur == 'Non renseigné' %} checked {% endif %}>
                                        <label class="form-check-label form-label">
                                            Non renseigné
                                        </label>
                                    </div>
                                    <div class="form-check ms-4 me-2 mt-2">
                                        <input class="form-check-input" type="radio" name="accueilEuskara[{{ defi.id }}]" value="Déjà réalisé" {% if defi.valeur == 'Déjà réalisé' %} checked {% endif %}>
                                        <label class="form-check-label form-label">
                                            Déjà réalisé
                                        </label>
                                    </div>
                                    <div class="form-check ms-4 me-2 mt-2">
                                        <input class="form-check-input" type="radio" name="accueilEuskara[{{ defi.id }}]" value="A réaliser" {% if defi.valeur == 'A réaliser' %} checked {% endif %}>
                                        <label class="form-check-label form-label">
                                            A réaliser
                                        </label>
                                    </div>
                                </div>
                                <div class="d-none">
                                    <div class="form-check ms-4 me-2">
                                        <input class="form-check-input" type="radio" name="accueilEuskara-etat{{ defi.id }}" value="1" {% if defi.etat %} checked {% endif %}>
                                        <label class="form-check-label">
                                            Déjà réalisé
                                        </label>
                                    </div>
                                    <div class="form-check ms-4 me-2" style="">
                                        <input class="form-check-input" type="radio" name="accueilEuskara-etat{{ defi.id }}" value="0" {% if defi.etat is same as false %} checked {% endif %} >
                                        <label class="form-check-label">
                                            A réaliser
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

            </div>

            <div class="row mt-5"></div>

            <div class="spacer-end-of-block"></div>

            <div class="d-flex justify-content-center">

                <div class="d-flex">
                    <div>
                        <input type="submit" class="btn btn-primary" value="Enregistrer">
                    </div>
                </div>
            </div>

            <div class="spacer-end-of-block"></div>
        </form>
    </div>



{% endblock %}


    {% block javascript %}

    var cpt =10000000;


    $('#defiProduitAjoutBtn').click(function (){

        //Template du formulaire à générer
        const DefiProduitTemplate = ({ id }) => `
                <div class="d-flex mt-3 align-items-center">
                    <div class="flex-grow-1">
                        <input type="text" class="form-control" name="produits[${id}]" />
                    </div>
                    <div class="form-check ms-4 me-2">
                        <input class="form-check-input" type="radio" name="produits-etat[${id}]" value="1" id="contact-interlocuteur">
                        <label class="form-check-label" for="flexCheckDefault">
                            Déjà réalisé
                        </label>
                    </div>
                    <div class="form-check ms-4 me-2" style="">
                        <input class="form-check-input" type="radio" name="produits-etat[${id}]" value="0" id="contact-interlocuteur">
                        <label class="form-check-label" for="flexCheckDefault">
                            A réaliser
                        </label>
                    </div>
                </div>
        `;
        var templating = [ {id: cpt} ].map(DefiProduitTemplate).join('');
        $('#defiProduitContainer').append(templating);
        cpt++;
    });

    $('#defiProfessionnelAjoutBtn').click(function (){

        //Template du formulaire à générer
        const DefiProduitTemplate = ({ id }) => `
                <div class="d-flex mt-3 align-items-center">
                    <div class="flex-grow-1">
                    <div class="d-flex ">
                    <select name="professionnels[${id}]" class="form-control pro-select form-adresse" style="">
                     </select>
                     <input type="button" class="btn btn-outline-dark delSelect" value="X" />
                     </div>
                    </div>
                    <div class="form-check ms-4 me-2">
                        <input class="form-check-input" type="radio" name="professionnels-etat[${id}]" value="1" >
                        <label class="form-check-label" for="flexCheckDefault">
                            Déjà réalisé
                        </label>
                    </div>
                    <div class="form-check ms-4 me-2" style="">
                        <input class="form-check-input" type="radio" name="professionnels-etat[${id}]" value="0" >
                        <label class="form-check-label" for="flexCheckDefault">
                            A réaliser
                        </label>
                    </div>
                </div>
        `;
        var templating = [ {id: cpt} ].map(DefiProduitTemplate).join('');
        $('#defiProfessionnelContainer').append(templating);
        cpt++;
        initailizeSelect2();
    });

    $('.delSelect').on('click', function (){
        $(this).prev().prev().val(" ").trigger('change');
        $(this).prev().prev().html('<option value =""></option>');
    });

    function initailizeSelect2(){
        //select 2 pour rechercher un pro
        $('.pro-select').select2({
            ajax: {
                url: "{{ path('app_search_pro') }}",
                delay: 250,
                allowClear: true,
                dataType: 'json',
                data: function (term) {
                    var query = {
                        q: term.term
                    }
                    return query;
                },
               processResults: function (data) {
                return {
                    results: $.map(data.results, function (item) {

                    if(item.status != 'Prestataire agréé'){
                        return null;
                    }
                    
                        return {
                            text: item.text,
                            id: JSON.stringify(item),
                        }
                    })
                };
            }
            },
            minimumInputLength: 3,
            placeholder: 'Saisir le nom d\'un professionel',
        });
    }

    initailizeSelect2();

    {% endblock javascript %}