{% extends 'base.html.twig' %}


{% block javascriptHeader %}

{% endblock %}
{% block title %}Signature{% endblock %}

{% block bgColor %} bg-soft-grey {% endblock %}

{% block content %}

    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12">
                <h3 class="h3-25bold mb-0">
                    Dossier d'agrément - {{ dossierAgrement.libelle }}
                </h3>
                <h4 class="h4-sousTitre">{{ dossierAgrement.type }}</h4>

                {% include 'dossier/menuDossier.html.twig' with {'etape': 'signature'} %}

            </div>
        </div>


        <div class="row spacer-vertical-column">
            <div class="col-12 mb-3">
                <h1 class="H1-header-40 green-color-eusko mb-2">
                    Signature électronique
                </h1>

                <p class="paragraph-18reg">
                    Un prélèvement automatique va être mis en place. Dans un 2nd temps, la structure sera directement prélevée automatiquement sur son compte eusko.
                </p>
            </div>


        </div>


        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-4">
                            {{ form_row(form.iban) }}

                        </div>

                        <div class="mb-3">
                            {{ form_row(form.nomSignature) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.telephoneSignature) }}
                        </div>
                    </div>

                    <div class="col-6">

                        <div class="mb-4">
                            {{ form_row(form.bic) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.prenomSignature) }}
                        </div>


                    </div>
                </div>
            </div>

        </div>

        <div class="row spacer-vertical-column">
            <div class="col-12 mb-3">
                <h1 class="H1-header-40 green-color-eusko mb-2">
                    Statut
                </h1>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        {{ form_row(form.statutChargesDeveloppement) }}
                    </div>

                </div>
            </div>


        </div>


        <div class="d-flex justify-content-center mt-5">

            <div class="d-flex">
                <div>
                    <a href="{{ path('app_dossier_coordonnees', {'id': dossierAgrement.id }) }}" class="btn btn-outline-primary"> Revenir au début du dossier</a>
                </div>
                <div class="ms-4">
                    <a class="save btn btn-outline-primary"> Enregistrer</a>
                    <input type="hidden" name="sauvegardeSimple" id="sauvegardeSimple" value="0">
                </div>
                <div class="ms-4">
                    <input type="submit" class="btn btn-primary saveSignature" value="Enregistrer et démarrer la procédure de signature">
                </div>


            </div>
        </div>


        {{ form_rest(form) }}
        {{ form_end(form) }}




        {% for document in dossierAgrement.documents%}
            {% if document.type == 'sepa' and document.path != '' %}
                <div class="row top-buffer mt-5">
                    <div class="col-md-12">
                        <div class="alert alert-info alert-dismissable">
                            <p class="mb-0">Une <a href="{{ asset(document.getWebPath) }}">signature électronique</a> est déjà enregistrée pour ce dossier !</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="spacer-end-of-block"></div>

    </div>

{% endblock %}

    {% block javascript %}

    $('.save').on('click', function () {
        $('#sauvegardeSimple').val('1');
        $('form').submit();
    });

    $('.saveSignature').on('click', function () {
        $('#sauvegardeSimple').val('0');
        $('form').submit();
    });




    a{% endblock javascript %}