{% extends 'base.html.twig' %}

{% block title %}Participation à la vie du réseau{% endblock %}

{% block bgColor %} bg-soft-grey {% endblock %}

{% block content %}

    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-12">
                    <h3 class="h3-25bold mb-0">
                        Dossier d'agrément - {{ dossierAgrement.libelle }}
                    </h3>
                    <h4 class="h4-sousTitre">{{ dossierAgrement.type }}</h4>

                    {% include 'dossier/menuDossier.html.twig' with {'etape': 'vieReseau'} %}

                </div>
            </div>


            <div class="row spacer-vertical-column">
                <div class="col-12 mb-3">
                    <h1 class="H1-header-50  green-color-eusko mb-2">
                        Participation à la vie du réseau eusko
                    </h1>
                    <p class="intro-18reg">
                        Afin d’étoffer le réseau et faciliter la circulation des eusko, lister les fournisseurs locaux
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div class="flex-grow-1 me-3">
                            <select name="fournisseur-select" id="fournisseur-select" class="form-control js-crm-ajax form-fournisseur" >
                            </select>

                        </div>
                        <div class="" style="width: 200px;">

                        </div>
                        <div>
                            <a href="#" class="btn btn-outline-primary contact-btn" data-bs-toggle="modal" data-bs-target="#fournisseurModal"> Créer un fournisseur </a>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12">

                        {# Affiche les contacts #}
                        <div id="fournisseurContainer">
                            {% for fournisseur in dossierAgrement.fournisseurs %}
                                {% set adresseObj = fournisseur.adresse | json_decode  %}

                                <div class="mb-2 card-relation fournisseurCard{{ fournisseur.id }}">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div class="d-flex">
                                                <h3 class="h4-20bold mb-0">{{ fournisseur.nomEntreprise }}</h3>
                                                <div>
                                                    <span class="ms-3 badge {% if fournisseur.status=='nouveau prospect' %} bg-dark{% else %}bg-success{% endif %}">{{ fournisseur.status }}</span>
                                                </div>
                                            </div>
                                            <div class="sousTitre-18bold">
                                                {{ fournisseur.activite }} - {% if adresseObj.id is defined %} {{ adresseObj.id }} {% endif %}
                                            </div>
                                            <div class="paragraph-16reg mt-1">
                                                {{ fournisseur.prenom }} {{ fournisseur.nom }}
                                            </div>
                                            <div class="paragraph-16reg">
                                                {{ fournisseur.email }}
                                            </div>
                                            <div class="paragraph-16reg">
                                                {{ fournisseur.telephone }}
                                            </div>


                                        </div>

                                        <div>
                                            <a  id="{{ fournisseur.id }}" class="fournisseur-edit linkText">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9.16663 1.66675H7.49996C3.33329 1.66675 1.66663 3.33341 1.66663 7.50008V12.5001C1.66663 16.6667 3.33329 18.3334 7.49996 18.3334H12.5C16.6666 18.3334 18.3333 16.6667 18.3333 12.5001V10.8334" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M13.3667 2.51663L6.80002 9.0833C6.55002 9.3333 6.30002 9.82497 6.25002 10.1833L5.89169 12.6916C5.75835 13.6 6.40002 14.2333 7.30835 14.1083L9.81669 13.75C10.1667 13.7 10.6584 13.45 10.9167 13.2L17.4834 6.6333C18.6167 5.49997 19.15 4.1833 17.4834 2.51663C15.8167 0.849966 14.5 1.3833 13.3667 2.51663Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.425 3.45825C12.9834 5.44992 14.5417 7.00825 16.5417 7.57492" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        {# Stocke les inputs #}
                        <div id="fournisseurInputsHidden">
                            {% for fournisseur in dossierAgrement.fournisseurs %}
                                <input type="hidden" name="dataFournisseurs[fournisseur-{{ fournisseur.id }}]" id="fournisseur-{{ fournisseur.id }}" value="{{ fournisseur.getJsonFormat() }}">
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>


            <div class="row spacer-vertical-column">
                <div class="col-12 mb-3">
                    <h1 class="h2-30 green-color-eusko mb-2">
                        Participation à l'écosystème du réseau eusko
                    </h1>
                    <p class="intro-18reg">
                        L’eusko soutient des initiatives locales qui œuvrent autour des mêmes valeurs que celles défendues par l’eusko.
                        Voici quelques unes d’entre-elles qui pourraient vous intéresser                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-12">
                    {% for defi in dossierAgrement.defis %}
                        {% if defi.type == 'enargia' %}
                            <div class="d-flex mt-3 align-items-center justify-content-between">
                                <div class="">
                                    <input type="hidden" name="enargia[{{ defi.id }}]" value="" />
                                    <p class="sousTitre-18bold">
                                        Enargia, le fournisseur d’électricité verte du Pays Basque.
                                    </p>
                                </div>
                                <div>
                                    <div style="width: 300px;">
                                        <div class="form-check ms-4 me-2">
                                            <input class="form-check-input" type="radio" name="defi{{ defi.id }}" value="Déjà adhérent" {% if defi.valeur == 'Déjà adhérent' %} checked {% endif %}>
                                            <label class="form-check-label">
                                                Déjà adhérent
                                            </label>
                                        </div>
                                        <div class="form-check ms-4 me-2" style="">
                                            <input class="form-check-input" type="radio" name="defi{{ defi.id }}" value="Souhaite être mise en relation" {% if defi.valeur == 'Souhaite être mise en relation' %} checked {% endif %}>
                                            <label class="form-check-label">
                                                Souhaite être mise en relation
                                            </label>
                                        </div>
                                        <div class="form-check ms-4 me-2" style="">
                                            <input class="form-check-input" type="radio" name="defi{{ defi.id }}" value="Pas intéressé" {% if defi.valeur == 'Pas intéressé' %} checked {% endif %}>
                                            <label class="form-check-label">
                                                Pas intéressé
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="col-12 mt-3">
                    {% for defi in dossierAgrement.defis %}
                        {% if defi.type == 'paysBasqueAuCoeur' %}
                            <div class="d-flex mt-3 align-items-center">
                                <div class="">
                                    <input type="hidden" name="paysBasqueAuCoeur[{{ defi.id }}]" value="" />
                                    <p class="sousTitre-18bold">
                                        Pays Basque au Cœur, association de préservation et dynamisation de l’économie
                                        locale en Pays Basque intérieur (chèque cadeaux et chèque culture)
                                    </p>
                                </div>
                                <div>
                                    <div style="width: 300px;">
                                        <div class="form-check ms-4 me-2">
                                            <input class="form-check-input" type="radio" name="defi{{ defi.id }}" value="Déjà adhérent" {% if defi.valeur == 'Déjà adhérent' %} checked {% endif %}>
                                            <label class="form-check-label">
                                                Déjà adhérent
                                            </label>
                                        </div>
                                        <div class="form-check ms-4 me-2" style="">
                                            <input class="form-check-input" type="radio" name="defi{{ defi.id }}" value="Souhaite être mise en relation" {% if defi.valeur == 'Souhaite être mise en relation' %} checked {% endif %}>
                                            <label class="form-check-label">
                                                Souhaite être mise en relation
                                            </label>
                                        </div>
                                        <div class="form-check ms-4 me-2" style="">
                                            <input class="form-check-input" type="radio" name="defi{{ defi.id }}" value="Pas intéressé" {% if defi.valeur == 'Pas intéressé' %} checked {% endif %}>
                                            <label class="form-check-label">
                                                Pas intéressé
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="col-12 mt-3">
                    {% for defi in dossierAgrement.defis %}
                        {% if defi.type == 'lantegiak' %}
                            <div class="d-flex mt-3 align-items-center">
                                <div class="">
                                    <input type="hidden" name="lantegiak[{{ defi.id }}]" value="" />
                                    <p class="sousTitre-18bold">
                                        Lantegiak, association, collectif et organisation professionnel de promotion
                                        et de défense des entreprises du Pays Basque (charte RSE)
                                    </p>
                                </div>
                                <div>
                                    <div style="width: 300px;">
                                        <div class="form-check ms-4 me-2">
                                            <input class="form-check-input" type="radio" name="defi{{ defi.id }}" value="Déjà adhérent" {% if defi.valeur == 'Déjà adhérent' %} checked {% endif %}>
                                            <label class="form-check-label">
                                                Déjà adhérent
                                            </label>
                                        </div>
                                        <div class="form-check ms-4 me-2" style="">
                                            <input class="form-check-input" type="radio" name="defi{{ defi.id }}" value="Souhaite être mise en relation" {% if defi.valeur == 'Souhaite être mise en relation' %} checked {% endif %}>
                                            <label class="form-check-label">
                                                Souhaite être mise en relation
                                            </label>
                                        </div>
                                        <div class="form-check ms-4 me-2" style="">
                                            <input class="form-check-input" type="radio" name="defi{{ defi.id }}" value="Pas intéressé" {% if defi.valeur == 'Pas intéressé' %} checked {% endif %}>
                                            <label class="form-check-label">
                                                Pas intéressé
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

            </div>

            <div class="row mt-5">
            </div>

            <div class="d-flex justify-content-center">

                <div class="d-flex">
                    <div>
                        <input type="submit" class="btn btn-primary" value="Enregistrer">
                    </div>
                </div>
            </div>
            <div class="spacer-end-of-block"></div>
        </form>

    </div>

    <!-- Modal Contact -->
    {% include 'form/fournisseurModalForm.html.twig' %}





{% endblock %}

    {% block javascriptImport %}
        <script src="{{ asset('js/fournisseurModalScript.js') }}" type="text/javascript"></script>

    {% endblock %}

    {% block javascript %}


    //Lorsque l'on choisit un fournisseur dans le select CRM, on rajoute une nouvelle card fournisseur
    $('.js-crm-ajax').on('select2:select', function (e) {
        var data = e.params.data;
        afficheCard(JSON.parse(data.id));
    });

    function afficheCard(fournisseurObject){

        var idFournisseur = fournisseurObject.id;
        const FournisseurTemplate = ({ entreprise, nom, prenom, activite, adresse, email, telephone, status, id }) => {
            var adresseText = '';
            if(typeof adresse === 'string' && adresse !== ''){
                var adresseObj = JSON.parse(adresse);
                adresseText = adresseObj.id;
            }
            return `
    <div class="card-relation fournisseurCard${id}">
        <div class="d-flex justify-content-between">
            <div>
                <div class="d-flex">
                    <h3 class="h4-20bold mb-0">${entreprise}</h3>
                    <div>
                    <span class="ms-3 badge bg-success">${status}</span>
                    </div>
                </div>
                <div class="sousTitre-18bold">
                    ${activite} - ${adresseText}
                </div>
                <div class="paragraph-16reg mt-1">
                    ${prenom} ${nom}
                </div>
                <div class="paragraph-16reg">
                    ${email}
                </div>
                <div class="paragraph-16reg">
                    ${telephone}
                </div>


            </div>

            <div>
                <a  id="${id}" class="fournisseur-edit linkText">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.16663 1.66675H7.49996C3.33329 1.66675 1.66663 3.33341 1.66663 7.50008V12.5001C1.66663 16.6667 3.33329 18.3334 7.49996 18.3334H12.5C16.6666 18.3334 18.3333 16.6667 18.3333 12.5001V10.8334" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.3667 2.51663L6.80002 9.0833C6.55002 9.3333 6.30002 9.82497 6.25002 10.1833L5.89169 12.6916C5.75835 13.6 6.40002 14.2333 7.30835 14.1083L9.81669 13.75C10.1667 13.7 10.6584 13.45 10.9167 13.2L17.4834 6.6333C18.6167 5.49997 19.15 4.1833 17.4834 2.51663C15.8167 0.849966 14.5 1.3833 13.3667 2.51663Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.425 3.45825C12.9834 5.44992 14.5417 7.00825 16.5417 7.57492" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    `};

        // Peupler le template et l'insérer dans la page
        var templating =
            [
                {
                    entreprise: fournisseurObject.entreprise,
                    nom: fournisseurObject.nom?fournisseurObject.nom:'',
                    prenom: fournisseurObject.prenom?fournisseurObject.prenom:'',
                    activite: fournisseurObject.activite,
                    adresse: fournisseurObject.adresse,
                    email: fournisseurObject.email?fournisseurObject.email:'',
                    telephone: fournisseurObject.telephone?fournisseurObject.telephone:'',
                    status: fournisseurObject.status?fournisseurObject.status:'',
                    id: fournisseurObject.id
                },
            ].map(FournisseurTemplate).join('');

        $('#fournisseurContainer').append(templating);
        var inputHidden = '<input type="hidden" name="dataFournisseurs[fournisseur-'+idFournisseur+']" id="fournisseur-'+idFournisseur+'" value="">';
        $('#fournisseurInputsHidden').append(inputHidden);

        var fournisseurJson = JSON.stringify(fournisseurObject);
        $('#fournisseur-'+idFournisseur).val(fournisseurJson);
    }
    $('#fournisseur-select').select2({
        ajax: {
            url: "{{ path('app_search_pro') }}",
                delay: 250,
                allowClear: true,
                dataType: 'json',
                data: function (term) {
                    var query = {
                        q: term.term
                    }
                    return query;
                },
               processResults: function (data) {
                return {
                    results: $.map(data.results, function (item) {
                    //console.log(JSON.stringify(item));
                        return {
                            text: item.text,
                            id: JSON.stringify(item),
                        }
                    })
                };
            }
            },
            minimumInputLength: 3,
            placeholder: 'Saisir une adresse',
        });



    {% endblock javascript %}