<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('css/style.css')) }}">
    <title>Eusko</title>
    <style type="text/css">
        p { font-size: 15px; }
        .test td, .test tr {border: 1px solid black; border-collapse: collapse;}
        @media screen {
            div.divFooter {
                display: none;
            }
        }
        /* @media print {
             div.divFooter {
                 position: fixed;
                 width: 500px;
                 bottom: 0;
                 left: 50%;
                 margin-left: -250px;
             }
         }*/
    </style>


</head>
<body>


<table style="margin: 20px 10px 0px 10px; width:800px; ">
    <tr>
        <td style="width:400px;">
            <img class="" src="{{absolute_url(asset('images/euskoa5.png'))}}" width="170" />
            <p>








            </p>
        </td>
        <td class="" style="width:400px; text-align: right">
            <strong>EUSKAL MONETA</strong><br />
            38, Cordeliers karrika / rue des Cordeliers<br />
            64100 Baiona / Bayonne<br />
            05-33-47-54-11<br />
            www.euskalmoneta.org<br />
            gestion@euskalmoneta.org<br />
            info@euskalmoneta.org<br />
	    {{ dossierAgrement.utilisateur }}<br />
	    {{ dossierAgrement.utilisateur.email }}<br />

        </td>
    </tr>
    <tr style="width:800px;">
        <td COLSPAN=2>
            <div class="">
                <br/>
                <br/>
                <h3>{{ dossierAgrement.dateAgrement |date('Y') }}ko Dosieraren gastu ordainagiria<br/>
                    Dossier d'agrément {{ dossierAgrement.dateAgrement |date('Y') }}
		    {% if typeInterne == 'ARCHIVAGE' %}
		    	<br><font color="green">BARNE ARTXIBOA</font> / ARCHIVAGE INTERNE<br />
		    {% endif %}
            	</h3>
            </div>

            <font color="green">Euskal Monetaren kide-zenbakia </font>/ Numéro d'adhérent à Euskal Moneta : {{ dossierAgrement.codePrestataire }}<br />
            <br />
            {% if dossierAgrement.type == 'entreprise' %}
	        <font color="green">ENPRESA</font> / L'ENTREPRISE<br />
	    {% elseif dossierAgrement.type == 'association' %}
	        <font color="green">ELKARTEA</font> / L'ASSOCIATION<br />
	    {% endif %}
		&nbsp;&nbsp;<font color="green">Izen komertziala  (aurkitegiarako)</font> / Dénomination commerciale (pour annuaire) : {{ dossierAgrement.libelle }}<br />
                {% if dossierAgrement.formeJuridique != '' %}
		    &nbsp;&nbsp;<font color="green">Mota juridikoa</font> / Forme juridique : {{ dossierAgrement.formeJuridique }}<br />
	        {% endif %}
                {% set adresse = dossierAgrement.adressePrincipale | json_decode %}
                &nbsp;&nbsp;<font color="green">Helbidea</font> / Adresse : {{ adresse.text }}<br />
		&nbsp;&nbsp;<font color="green">Telefono finkoa</font> / Tél.Fixe : {{ dossierAgrement.telephone }}<br />
		&nbsp;&nbsp;<font color="green">E-mail</font> / E-mail : {{ dossierAgrement.emailPrincipal }}<br />
		&nbsp;&nbsp;<font color="green">Webgunea</font> / Site Internet : {{ dossierAgrement.siteWeb }}<br />
                &nbsp;&nbsp;<font color="green">Izen soziala </font> / Dénomination sociale : {{ dossierAgrement.denominationCommerciale }}
            <br />
            <br />
	    {% if typeInterne == 'ARCHIVAGE' %}
	    	<br><font color="green">NOTA</font> / NOTES<br />
		{{ dossierAgrement.note }}<br />
	    	<br><font color="green">NOTA ADMINISTRATIBOA</font> / NOTE ADMINISTRATIF<br />
		{{ dossierAgrement.notesAdministratif }}<br /><br />
	    {% endif %}
	    <font color="green">Enpresaburua/Zuzendaria</font> / LE/LA DIRIGEANTE<br />
		&nbsp;&nbsp;<font color="green">Deitura</font> / Nom : {{ dossierAgrement.nomDirigeant }} &nbsp;&nbsp;Prénom : {{ dossierAgrement.prenomDirigeant }}<br />
		&nbsp;&nbsp;<font color="green">Telefonoa</font> / Tél. : {{ dossierAgrement.telephoneDirigeant }}<br />
		&nbsp;&nbsp;<font color="green">E-mail</font> / E-mail : {{ dossierAgrement.emailDirigeant }}<br />
            <br />
            <br />
	    <font color="green">KONTAKTUAK</font> / LES CONTACTS<br />
                {% for key, contact in dossierAgrement.contacts %}
			{% set interlocuteur = contact.interlocuteur %}
			{% if interlocuteur == 1 %}
				&nbsp;&nbsp;<b>{{ contact.civilite }}&nbsp;{{ contact.nom }} &nbsp;&nbsp;{{ contact.prenom }} </b><br />
				&nbsp;&nbsp;&nbsp;<b>{{ contact.telephone }} &nbsp;&nbsp;{{ contact.email }} 
				{% if contact.fonction != "" %}
					({{ contact.fonction }}) </b>
				{% endif %}
				<br />
				{% else %}
				&nbsp;&nbsp;{{ contact.civilite }}&nbsp;{{ contact.nom }} &nbsp;&nbsp;{{ contact.prenom }} <br />
				&nbsp;&nbsp;&nbsp;{{ contact.telephone }} &nbsp;&nbsp;{{ contact.email }} 
				{% if contact.fonction != "" %}
					({{ contact.fonction }}) </b>
				{% endif %}
			{% endif %}
		{% endfor %}
            <br />
            <br />
	    <font color="green">JARDUERA</font> / L'ACTIVIT&Eacute;<br />
		<ul>
                {% for key, adresse in dossierAgrement.adresseActivites %}
			<li>{{ adresse.nom }}<br />
			{% if adresse.descriptifActivite != "" %}
				{{ adresse.descriptifActivite }}<br />
			{% endif %}
                        {% set texteAdresse = adresse.adresse | json_decode %}
			{{ texteAdresse.text }}
			{% if adresse.complementAdresse != "" %}
				&nbsp;&nbsp;{{ adresse.complementAdresse }}
			{% endif %}
			<br />
			{% if adresse.telephone != "" or adresse.email != "" %}
				{{ adresse.telephone }} &nbsp;&nbsp; {{ adresse.email }}<br>
			{% endif %}
			<br />
			{% if adresse.autresLieux != "" %}
				<font color="green">Beste guneak</font> / Autres lieux : {{ adresse.autresLieux }} </br>
			{% endif %}
			{% if adresse.instagram != "" or adresse.facebook != "" %}
				{{ adresse.instagram }} &nbsp;&nbsp; {{ adresse.facebook }}<br>
			{% endif %}
			{% if adresse.guideVee != 0 %}
				<font color="green">Oporrak euskoz gidaliburua</font> / Guide vacances en Eusko<br>
			{% endif %}
	                <font color="green">Zonaldekako aurkitegi-sailkapenak</font> / Catégories annuaire de zone : 
	                {% if adresse.categoriesAnnuaire.count() > 0 %}
			    <ul>
			    {% for key, adresseGal in adresse.categoriesAnnuaire %}
				<li>{{ adresseGal .libelle }} </li>
			    {% endfor %}
			    </ul>
			{% endif %}
	                <font color="green">Eskuz-Esku sailkapenak</font> / Catégories Eskuz-Esku : 
	                {% if adresse.categoriesAnnuaireEskuz.count() > 0 %}
			    <ul>
			    {% for key, adresseEskuz in adresse.categoriesAnnuaireEskuz %}
				<li>{{ adresseEskuz.libelle }} </li>
			    {% endfor %}
			    </ul>
			<br />
			{% endif %}
			</li>
		{% endfor %}
		</ul>
            <br />
	    {% if dossierAgrement.reductionsAdhesion.count() > 0 %}
	    <font color="green">-(a)ren kide </font> / Membre de : 
                {% for key, reduction in dossierAgrement.reductionsAdhesion %}
			{{ reduction.nom }} &nbsp;
		{% endfor %}
	    {% endif %}
            <br />
	    {% if (dossierAgrement.autocollantPanneau + dossierAgrement.autocollantVitrine) > 0 %}
		    {% if dossierAgrement.autocollantVitrine > 0 %}
			{% set autocollantVitrine1 = 'erakusleihoa' %}
			{% set autocollantVitrine2 = ' / vitrine ' ~ dossierAgrement.autocollantVitrine %}
                    {% else %}
			{% set autocollantVitrine1 = '' %}
			{% set autocollantVitrine2 = '' %}
		    {% endif %}
		    {% if dossierAgrement.autocollantPanneau > 0 %}
			{% set autocollantPanneau1 = 'taula' %}
			{% set autocollantPanneau2 = ' / panneau ' ~ dossierAgrement.autocollantPanneau %}
                    {% else %}
			{% set autocollantPanneau1 = '' %}
			{% set autocollantPanneau2 = '' %}
		    {% endif %}
			
                    <font color="green">Pegatina kopurua</font> / Nombre d'autocollants : <font color="green">{{ autocollantVitrine1 }}</font> {{ autocollantVitrine2 }} - <font color="green">{{ autocollantPanneau1 }}</font>{{ autocollantPanneau2 }} "{{ dossierAgrement.typeAutocollant }}"<br />
	    {% endif %}
            <br />
	    <font color="green">DESAFIOAK</font> / LES D&Eacute;FIS<br />
		<ul>
		{% set premierProduit = 0 %}
		{% set premierAutre = 0 %}
                {% for key, defi in dossierAgrement.defis %}
			{% set complement = '' %}
			{% set libelle1 = '' %}
			{% set dejaTraite = 0 %}
                        {% set type2 = defi.type %}
                        {% set status1 = defi.valeur %}
                        {% set status2 = defi.valeur %}
                        {% if defi.valeur == 'Déjà réalisé' %}
                            {% set status1 = 'Egina' %}
                            {% set status2 = ' / Déjà réalisé' %}
                        {% elseif defi.valeur == 'à réaliser' %}
                            {% set status1 = 'Egitekoa' %}
                            {% set status2 = ' / à réaliser' %}
                        {% elseif defi.valeur == 'En autonomie' %}
                            {% set status1 = 'Autonomian' %}
                            {% set status2 = ' / En autonomie' %}
                        {% else %}
                            {% set status1 = '' %}
                        {% endif %}
                        {% set sautDeLigne = 0 %}
			{% if defi.type == 'promotionEuskara' %}
                            <li><font color="green">Euskara desfioa</font> / Défi Euskara
                            <ul>
                            {% set libelle1 = 'Afitxaketa euskaraz' %}
                            {% set libelle2 = ' / Affichage Euskara : ' %}
                            <li><font color="green">{{ libelle1 }}</font>{{ libelle2 }}<i><font color="green">{{ status1 }}</font>{{ status2 }}</i></li> 
                            {% set dejaTraite = 1 %}
			{% elseif defi.type == 'accueilEuskara' %}
                            {% set libelle1 = 'Harrera Euskaraz' %}
                            {% set libelle2 = ' / Accueil Euskara : ' %}
                            <li><font color="green">{{ libelle1 }}</font>{{ libelle2 }}<i><font color="green">{{ status1 }}</font>{{ status2 }}</i></li> 
                            {% set dejaTraite = 1 %}
                        {% endif %}
			{% if libelle1 != '' %}
                            {% set dejaTraite = 1 %}
                        {% endif %}
			{% if defi.type == 'accueilEuskara' %}
	                    </ul>
                            </li>
			{% elseif defi.type == 'produit' %}
                            {% if premierAutre == 1 %}
			        {% set premierAutre = 0 %}
                                </ul></li>
                            {% endif %}
                            {% if premierProduit == 0 %}
			        {% set premierProduit = 1 %}
                                <li><font color="green">Ekonomia birkokatzeko desafioa</font> / Défi relocalisation de l'économie
                                <ul>
                            {% endif %}
                            {% set type1 = 'Bertako produktua' %}
                            {% set type2 = ' / Produit local : ' ~ defi.valeur %}
                            {% set sautDeLigne = 0 %}
                            {% if defi.etat == 1 %}
                                {% set status1 = 'Egina' %}
                                {% set status2 = ' / Déjà réalisé' %}
                            {% else %}
                                {% set status1 = 'Egitekoa' %}
                                {% set status2 = ' / à réaliser' %}
                            {% endif %}
			{% elseif defi.type == 'professionnel' %}
                            {% if premierAutre == 1 %}
			        {% set premierAutre = 0 %}
                                </ul></li>
                            {% endif %}
                            {% if premierProduit == 0 %}
			        {% set premierProduit = 1 %}
                                <li><font color="green">Ekonomia birkokatzeko desafioa</font> / Défi relocalisation de l'économie
                                <ul>
                            {% endif %}
                            {% set sautDeLigne = 1 %}
                            {% set sautDeLigne = 0 %}
                            {% set pro = defi.valeur | json_decode %}
                            {% set adressePro = pro.adresse | json_decode %}
			    {% set type1 = 'Profesionala' %}
			    {% set type2 = ' / Pro : ' ~ pro.text ~ ' (' ~ adressePro.id ~ ') ' %} 
                            {% if defi.etat == 1 %}
                                {% set status1 = 'Egina' %}
                                {% set status2 = ' / Déjà réalisé' %}
                            {% else %}
                                {% set status1 = 'Egitekoa' %}
                                {% set status2 = ' / à réaliser' %}
                            {% endif %}
			    {% set complement = pro.note %}
			{% elseif defi.type != 'produit' and defi.type != 'professionnel' and defi.type != 'promotionEuskara' and defi.type != 'reutiliser' %}
			        {% set dejaTraite = 1 %}
                                {% if premierAutre == 0 %}
			            {% set premierAutre = 1 %}
                                    <li><font color="green">Besteak</font> / Autres
                                    <ul>
                                {% endif %}
                                {% if status1 == "Déjà adhérent" %}
                                   {% set status2 =  status1 %}
                                   {% set status1 =  "Jadanik kidea" %}
                                {% elseif status1 == "Souhaite être mise en relation" %}
                                   {% set status2 =  status1 %}
                                   {% set status1 =  "Harremanetan ezarri nahi" %}
                                {% elseif status1 == "Pas intéressé" %}
                                   {% set status2 =  status1 %}
                                   {% set status1 =  "Interesa gabekoa" %}
                                {% endif %}
                                
			        <li><font color="green">{{ type1 }}</font>{{ type2 }} <i><font color="green">{{ status1 }}</font> {{ status2 }}</i></li>
                        {% endif %}
			{% if ( defi.type != 'reutiliser' ) and ( dejaTraite == 0 ) %}
				<li><font color="green">{{ type1 }}</font>{{ type2 }}  
				{% if sautDeLigne == 1 %}
				    <br />
				{% endif %}
				{{ complement }}
				{% if sautDeLigne == 1 %}
				    <br />
				{% endif %}
			        <i><font color="green">{{ status1 }}</font>{{ status2 }}</i> 
				</li>
                        {% endif %}
			{% if ( defi.type == 'reutiliser' ) %}
				<li><font color="green"></font>Réutiliser à titre personnel
			        &nbsp;<i>{{ defi.valeur }}</i> 
				</li>
                        {% endif %}
		{% endfor %}
                            {% if premierAutre == 1 %}
			        {% set premierAutre = 0 %}
                                </ul></li>
                            {% endif %}
                {% if premierProduit == 1 %}
                    </ul></li>
                {% endif %}
		</ul>
            <br />
            <br />
	    <font color="green">KIDETZA</font> / ADHESION<br />
            <ul>
            <li><font color="green">Langile kopurua</font> / Nombre de salariés : {{ dossierAgrement.nbSalarie }}</li>
            <li><font color="green">Kide-sari mota</font> / Type de cotisation : {{ dossierAgrement.typeCotisation }}</li>
            <li><font color="green">Kide-saria</font> / Cotisation  : {{ dossierAgrement.montant }} €</li>
            <li><font color="green">Kudeaketa gastuak</font> / Frais de dossier  : {{ dossierAgrement.fraisDeDossier }} €</li>
            </ul>
            <br />
	    <font color="green">AUKERA TEKNIKOAK</font> / OPTIONS TECHNIQUES<br /> 
            <ul>
	    {% if dossierAgrement.recevoirNewsletter > 0 %}
                <li><font color="green">Eusko buletina jaso</font> / Recevoir la newsletter de l'eusko</li>
	    {% endif %}
	    {% if dossierAgrement.compteNumeriqueBool > 0 %}
                <li><font color="green">Profesionalen kontu digitala</font> / Compte numérique professionnel {{ dossierAgrement.compteNumerique }}</li>
	    {% endif %}
	    {% if dossierAgrement.terminalPaiementBool > 0 %}
                <li><font color="green">Ordaintze elektroniko terminal kopurua</font> / Nombre de terminaux de paiement : {{ dossierAgrement.terminalPaiement }}</li>
	    {% endif %}
	    {% if dossierAgrement.euskopayBool > 0 %}
                <li><font color="green">Euskopay instalatu: QR kode kopurua</font> / Installation Euskopay : nombre de QR codes {{ dossierAgrement.euskopay }}</li>
	    {% endif %}
	    {% if dossierAgrement.paiementViaEuskopay > 0 %}
            	<li><font color="green">Profesionalak ordainketa Euskopay aplikaziorekin egin dezake</font> / Paiement possible par le PRO depuis l'application Euskopay</li>
	    {% endif %}
            </ul>
	        
            <br />
            <br />
            <font color="green">Baionan, {{(dossierAgrement.dateAgrement) |date('Y/m/d') }} an</font><br />
            À Bayonne le {{(dossierAgrement.dateAgrement) | date('d/m/Y') }}
            <br />


            <div style="text-align: right">
	    {% if dossierAgrement.dateAgrement | date('Y') > 2024 %}
                <img src="{{ absolute_url(asset('images/signature.png')) }}" alt="" width="200"/>
	    {% else %}
                <img src="{{ absolute_url(asset('images/signatureXebax.png')) }}" alt="" width="200"/>
	    {% endif %}
            </div>
            <br />
            <br />
            <font color="green">BEZaren menpekoa ez den elkartea</font> Association non assujettie à la TVA       <br />
            N° SIRET <font color="green">Zkia</font> : 790 029 599 00012    ---    Code APE <font color="green">Kodea<font> : 9499Z
        </td>
    </tr>
</table>

            <font color="green">Onespen data</font> : {{ dossierAgrement.dateAgrement | date('Y/m/d') }}<br />
            Date d'agrément : {{ dossierAgrement.dateAgrement | date('d/m/Y') }}<br />

<div class="divFooter center">
    <br />

</div>

</body>

</html>
