{% extends 'base.html.twig' %}

{% block content %}
    <section class="vh-100 greyBg section-start" style="overflow: auto; position: relative">

        <div class="container ">
           {#  <div class="row mt-5" style="">
                <div class="col-12 mb-2">
                    <div class="fileAriane-14 mt-3 mb-2">
                        Accueil > Connexion
                    </div>

                </div>
            </div>#}
            <div class="row mt-5 p-2">
                <div class="col-md-6 col-12 offset-md-3">
                    <div class="mb-4">
                        <div class=" text-center">


                            <img class=" mt-5 mb-5" src="{{ asset('images/logo.png') }}" width="240px">

                            <h2 class="text-dark font-weight-bold text-8">Connexion</h2>
                        </div>

                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="row top-buffer">
                                    <div class="alert alert-{{type}} aalert-dismissible fade show d-flex align-items-center" role="alert">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                        {{ message |raw }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}


                        <form action="{{ path('app_login') }}" method="post">
                            <label class="intro-18bold" for="username">Email</label>
                            <input type="text" id="username"  class="form-control" name="_username" placeholder="email" value="{{ last_username }}"/>

                            <div class="mt-4">
                                <label class="intro-18bold" for="password">Mot de passe</label>
                                <input type="password" class="form-control" id="password"  placeholder="*****" name="_password"/>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                            <div class="mt-4 text-center">
                                <input type="submit" class="btn btn-primary" value="Se connecter">
                            </div>
                        </form>


                        <div class="mt-5 text-center">
                            <div class="intro-18reg">
                                <a href="{{ path("fos_user_resetting_request") }}" class="linkText paragraph-16reg">Mot de passe oublié ?</a>
                            </div>
                        </div>

                        <div class="mt-4 text-center">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
{% endblock %}
